* {
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: chocolate;
    text-align: center;
    padding:25px;
    color: white;
}

header span a i {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.wrapper {
    text-align: center;
}

#counter {
    font-size: 60px;
    margin: 15px;
}

.btns {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: chocolate;
    cursor: pointer;
    transition: 0.25s;
}

.btns:hover {
    background-color: rgb(245, 105, 5);
}

input {
    height: 20px;
    margin: 20px 10px;
    width: 60px;
}

label {
    background-color: chocolate;
    color: white;
    padding: 5px;
    border-radius: 5px;
}