* {
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: chocolate;
    text-align: center;
    padding:25px;
    color: white;
    border-radius: 10px;
}

header span a i {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid gray;
    margin: 100px auto;
    padding: 15px 0;
    max-width: 400px;
}

#counter {
    font-size: 60px;
    margin: 15px;
}

.btns {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: chocolate;
    cursor: pointer;
    transition: 0.25s;
}

.btns:hover {
    background-color: rgb(245, 105, 5);
}

input {
    height: 20px;
    margin: 20px 10px;
    width: 60px;
}

label {
    background-color: chocolate;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.dark-mode-box {
    display: flex;
    justify-content: center;
}
.dark-mode-box label {
   margin: 10px;
   font-size: 15px;
}
.dark-mode-box input {
   margin: 10px;
   width: 20px;
}

/* // dark mode style */

body .dark  {
    background-color:rgb(39, 41, 45);
    color:rgb(236, 236, 236);
}
